.book-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

.card-title {
  font-size: 0.5rem;
  height: 1.5rem;
  overflow: hidden;
}
